<% provide(:title, "Designs | Edit") %>
<h1 class = "header">
  <%= link_to "Designs", designs_path %><span class = "line"> |</span><%= link_to "Submit a Design", new_design_path %> <br>
</h1> <h1 class = "submission">Edit Your Design</h1>
<div class="row">
  <%- if @design.errors.present? -%>
    <div class="large-12 alert-box alert radius" data-alert>
      <ul>
        <%- @design.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
      <%- end -%>
    </div>
<div class = "textboxes center-text">
<%= form_for @design do |f| %>

  <%= f.label :design_image, "Select Your Image" %>
  <%= f.file_field :design_image %>

  <%= f.label :design_name %>
  <%= f.text_field :design_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Edit Design!", class:"button" %>
</div>
<% end %>
