<h1 class = "header"><%= link_to "Designs", designs_path%></h1> <h1 class = "submission">Submit a Design</h1>
<% provide(:title, "Submit a Design") %>
<div class="row">
  <%- if @design.errors.present? -%>
    <div class="large-12 alert-box alert radius" data-alert>
      <ul>
        <%- @design.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <%- end -%>
<div class = "textboxes center-text">
<%= form_for @design do |f| %>

  <%= f.label :design_image, "Select Your Image" %>
  <%= f.file_field :design_image %>

  <%= f.label :design_name %>
  <%= f.text_field :design_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= recaptcha_tags %><br>

  <%= f.submit "Submit Design!", class:"button" %>

<%- end %>
</div>
