<div class="row">
  <%- if @design.errors.present? -%>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @design.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

<h1 class = "submission">Submit a Design</h1>
<div class = "textboxes">
<%= form_for @design do |f| %>

  <%= f.label :design_name %>
  <%= f.text_field :design_name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Submit Design!" %>
</div>
<% end %>
