<% provide(:title, "Designs | View") %>
<h1 class = "header">
  <%= link_to "Designs", designs_path %><span class = "line"> |</span><%= link_to "Submit a Design", new_design_path %> <br><br>
</h1>

    <h1 class = "showtitle">
      <%= @design.design_name %>
    </h1>

    <h5 class = "showtitle">
      <%= @design.description%><br>
    </h5>

    <div class="row">
      <div class="showtitle image">
        <%= image_tag(@design.design_image) %>
        <div class ="createdby">
          <div class="left">



            <%="Rating: "+ @design.rating.to_s%>



            <div id="vote-div">
              <%= link_to image_tag("star-157086_640.png"), class: 'vote1' %> <%= link_to image_tag("star-157086_640.png"), class: 'vote2' %> <%= link_to image_tag("star-157086_640.png"), class: 'vote3' %> <%= link_to image_tag("star-157086_640.png"), class: 'vote4' %> <%= link_to image_tag("star-157086_640.png"), class: 'vote5' %>
                <div class= 'vote-total'>

                </div>
            </div>



          </div>
            <div class="right">By:
              <% if @design.user.profile_photo.file == nil %>
                <%= link_to image_tag("default_image.png") + " " + @design.user.first_name.capitalize + " " +
                @design.user.last_name.capitalize, user_path(@design.user.id)%>
              <% else %>
            <%= link_to image_tag(@design.user.profile_photo) + " " + @design.user.first_name.capitalize + " " +
            @design.user.last_name.capitalize, user_path(@design.user.id)%>
              <% end%>
          </div>
        </div>
      </div>
    </div>
    <% if current_user != nil %>
      <% if @design.user == current_user || current_user.role == "admin" %>
        <div class = "delete_edit">
          <span class="button-group text-center">
            <li><%= button_to "Delete this Design", design_path(@design), method: :delete, class: 'button' %></li>
            <li><%= button_to "Edit this Design", edit_design_path(@design), class: 'button', method: :get %></li>
          </span>
        </div>

      <% end %>
    <%end%>
    <!-- ABOVE IS FINE -->
<div class="row">
  <div class="small-12 columns">
    <h2 id="review-title" class = "showtitle">
      Reviews
    </h2>
  </div>

  <% @reviews.reverse.each do |review| %>
    <div class="row">
      <div class="container-total-review">
        <div class="review-container">

          <div class="small-11 columns review">
            <% if review.user.profile_photo.file == nil %>
              <%= link_to image_tag("default_image.png"), user_path(review.user.id), class: "left" %>
            <% else %>
              <%= link_to image_tag(review.user.profile_photo), user_path(review.user.id), class: "left" %>
            <% end%>
            <%=review.user.first_name.capitalize%> <%=review.user.last_name.capitalize%>:
            <%= review.body %><br><br>
            <% if current_user != nil %>
              <% if review.user == current_user || current_user.role == "admin"%>
                <%= button_to "Delete this Review", design_review_path(@design, review.id), method: :delete, class: "button" %>
              <% end %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @reviews %>
  <div class="enter-review">
    <div class="container">

    <%= form_for [@design, @review] do |f| %>

      <%= f.label :body %>
      <%= f.text_field :body, required:true %>


      <%= f.submit "Submit", class:"button" %>
    <% end %>
    </div>
  </div>
</div>
