<% provide(:title, "Users | Portfolio") %>
<section class="title">
  <h1 class = "portfolio">
    <% if @user.profile_photo.file == nil %>
      <%= link_to image_tag("default_image.png"), user_path(@user.id) %>
    <% else %>
      <%= link_to image_tag(@user.profile_photo), user_path(@user.id) %>

    <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize%>'<%if @user.last_name[-1] != 's'%>s
    <% end %> Portfolio:
    <%end%>
  </h1>
</section>

<div class="small-12 row">
  <% Design.where(user_id: @user.id).reverse.each do |design|%>
        <div class="small-12 medium-6 large-4 columns">
      <section class="design-display">
          <%= link_to image_tag(design.design_image), design_path(design.id) %>
      </section>
    </div>
  <%end%>
</div>
