<!DOCTYPE html>
  <title><%= full_title(yield(:title)) %></title>
<%= favicon_link_tag 'favicon.ico' %>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'><html>
<head>

<!--   <title> | <%if request.original_url == "http://localhost:3000/users/sign_in" %> <%= "User | Sign In"%> <%elsif request.original_url == "http://localhost:3000/users/sign_up" %> <%= "User | Sign Up"%> <%elsif request.original_url == "http://localhost:3000/users/edit" %>
  <%= "User | Edit"%> <% elsif (params[:controller] == "users") && (params[:action] == "show")%>
  <%=params[:controller].capitalize%> <%= "| Portfolio" %> <%else%> <%=params[:controller].capitalize%><%end%>
</title> -->
<html lang="en" ng-app="myApp">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Inktellectual</a></h1>
      </li>
    </ul>
  <section class="top-bar-section right">
    <% if current_user %>
      <section class="profile-photo">
        <% if current_user.profile_photo.file == nil %>
          <ul href="#" data-dropdown="hover1" aria-controls="hover1" aria-expanded="false" data-options="is_hover:true;"> <%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp; <%= image_tag("default_image.png")%> </ul><br>
        <% else %>
          <ul href="#" data-dropdown="hover1" aria-controls="hover1" aria-expanded="false" data-options="is_hover:true;"><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%>&nbsp;  <%= image_tag(current_user.profile_photo)%>  </ul><br>
        <% end%>
      </section>
  </section>
        <% else %>
        <ul class>
          <li><a href="#" data-reveal-id="SignUpModal">Sign Up</a></li>
          <li><a href="#" data-reveal-id="SignInModal">Sign In</a></li>
        <% end %>
      </ul>
    </div>
    </section>
  </nav>

<% flash.each do |key, value| %>
  <div class="center">
    <%= value %>
  </div>
<% end %>
<div class ="page-wrap">
  <%= yield %>
</div>
  <%= javascript_include_tag 'application' %>

<footer class="footer">
<div class="small-12 row">
        <div class="small-3 columns">
      <h4>Shop</h4>
      <ul class="footer-links">
    <a>Lorem ipsum dolor sit amet, consecteterunt!</a>
  </ul>
    </div>
    <div class="small-3 columns">
      <h4>Participate</h4>
      <ul class="footer-links">
        <a href="#">text1</a>
        <a href="#">text2</a>
        <a href="#">text3</a>
        <a href="#">text4</a>
        <a href="#">text5</a>
      </ul>
    </div>
    <div class="small-3 columns">
      <h4>User Info</h4>
      <ul class="footer-links">
        <a href=#>Portfolio |</a>
        <a href="/users/edit">Edit User Info</a>
        <a href="#"> Successful Campaigns |</a>
        <a href="#">text4</a>
        <a href="#">text5</a>
      </ul>
    </div>
    <div class="small-3 columns">
      <h4>Follow Us!</h4>
      <ul class="footer-links">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">text4</a>
        <a href="#">text5</a>
      </ul>
    </div>
  </div>
</footer>
<!-- </footer>
<div class="page-wrap">

  <h1>Sticky Footer</h1>
  <h2>with Fixed Footer Height</h2>

  <button id="add">Add Content</button>

</div>

<footer class="site-footer">
  I'm the Sticky Footer.
</footer> -->
  <%= javascript_include_tag 'application' %>
</body>
<div id="SignUpModal" class="reveal-modal" data-reveal aria-labelledby="SignUpModalTitle" aria-hidden="true" role="dialog">
  <h2 id="SignUpModalTitle", class="modal-header">Sign Up</h2>
  <br>

<%= form_for(:user, url: registration_path(:user)) do |f| %>
  <div class="row">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name, autofocus: true %>

  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true %>


    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>

    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>

    <%= f.label :profile_photo, "Profile Picture" %>
    <%= f.file_field :profile_photo %><br>

    <%= f.submit "Sign Up", class:"button" %>
  </div>
</div>
<% end %>

<div id="SignInModal" class="reveal-modal" data-reveal aria-labelledby="SignInModalTitle" aria-hidden="true" role="dialog">
  <h2 id="SignInModalTitle", class="modal-header">Sign In</h2>
  <br>

  <%= form_for(:user, url: session_path(:user)) do |f| %>
    <div class="row">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>


      <%= f.submit "Sign In", class:"button" %>

    </div>
  <% end %>
</div>
</html>
<!--
<br>
<br>
<br>
<br>
<br> -->
<% if current_user %>
<ul id="hover1" class="f-dropdown" data-dropdown-content>
  <li><a href="/users/edit" >Edit Profile</a></li>
  <li><%= link_to "Portfolio", user_path(current_user.id) %></li>
  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
</ul>

<% end %>
</ul>

<!--
<div id="EditModal" class="reveal-modal" data-reveal aria-labelledby="EditModalTitle" aria-hidden="true" role="dialog">
  <h2 id="EditModalTitle", class="modal-header">Edit</h2>
  <br>

<%= form_for(:user, url: edit_registration_path(:user)) do |f| %>
  <div class="row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>

    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>


    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %><br>

    <%= f.label :profile_photo, "Profile Picture" %>
    <%= f.file_field :profile_photo %>


    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>

  <%= f.submit "Update", class:"button" %> <br>
  </div>
</div>
<% end %> -->
